@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    scroll-behavior: smooth;
}

* {                                         /*  mexe em todo o html */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{                                       /*  mexe em todo o body */
    background: linear-gradient(225deg, #0f71a8 0%, #0d3555 55%, #081b29 100%);
    color: white;
    background-size: cover;
}

body h1, h2, h3{
    font-weight: 600;
}

body p{
    font-weight: 400;
}


.cabecalho{                                 /*  mexe no footer  */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.053);
    backdrop-filter: blur(2px);
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}



.logo {                                     /*  mexe no nome Aquiles    */
    position: relative;
    font-size: 25px;
    color: white;
    text-decoration: none;
    border-radius: 15px;
}


.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.barra a{                                   /*  mexe na barra de navegação superior */
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: 0.3s;
    border-radius: 15px;    
}

.barra a:hover, #barra a#ativo {            /*  mexe na mudança de cor da barra */
    color: #00abf0;
}

.principal{                                 /*  mexe em toda a section  */
    height: 100vh;
    background: url('') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    flex-wrap: wrap-reverse;
}

.desenho{                                      /*  minha imagem    */
    display: flex;
    align-items: flex-end;
    justify-content: left;
    transition: transform 0.3s ease;
}

.desenho:hover{
    transform: scale(1.05);

}
#desenho{
    background-color: #00000042;
    box-shadow: 20px 20px 30px 4px rgba(0, 0, 0, 0.418);
    height: 450px;
    border-radius: 35px;
    will-change: transform;
    animation: flutuar 2.5s ease-in-out infinite;
}

@keyframes flutuar {
    0%, 100%{
        transform: translateY(15px);
    }
    50%{
        transform: translateY(-15px);
    }
}

.conteudo-principal{                        /* mexe na div dos textos   */
    max-width: 600px;

}

.conteudo-principal h1{                     /*  mexe no h1  */
    position: relative;
    font-size: 52px;
    line-height: 1.2;

}

.conteudo-principal h3{                     /*  mexe no h3   */
    font-size: 32px;
    color: #00abf0;
}

.conteudo-principal ul{                      /*  mexe na ul    */
    font-size: 16px;
    margin-left: 35px;
    margin-bottom: 20px;

    
}

.conteudo-principal .botoes{                /*  mexe nos botoes     */
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 55px;

}

.botoes a{                                  /*  mexe nas tags 'a' dos botoes    */
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #0d3555;
    text-decoration: none;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
    font-weight: 700;
}

.botoes a:hover{                            /*  mexe na mudança de cor dos botoes   */
    color: #00abf0;
}

.botoes a:nth-child(2){                     /*  mexe no segundo botao   */
    background: transparent;
    color: #00abf0;
    text-align: center;

}

.botoes a:nth-child(2):hover{               /*  mudança de cor do segundo botao */
    color: #0d3555;
}

.botoes a:nth-child(2)::before{             /*  cor q o botao fica qnd coloca o mouse    */
    background: #00abf0;
}

.botoes a::before{                          /*  como fica os botoes dps     */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #0d3555;
    z-index: -1;
    transition: 0.5s;
}

.botoes a:hover::before{
    width: 100%;
}

.redes{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;

}

.redes a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border:  2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;

}

.redes a:hover{
    color: #081b29;
}

.redes a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: 0.5s;

}

.redes a:hover::before{
    width: 100%;

}

.projetos-h1{
    padding: 10px;
    margin-left: 196px;
    
}

#projetos {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.projeto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.13);
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    transition: 0.3s;
    will-change: transform;
}

.projeto:hover{
    transform: scale(1.02) translateY(-5px);
}

.projeto img {
    display: block;
    margin: 0 auto 20px auto;
}

.mario {
    border-radius: 5px;
    width: 233px;
}

.login-page{
    border-radius: 5px;
    width: 250px;
    padding: 1px;
}

.calculadora{
    border-radius: 5px;
    width: 240px;
}

.clima{
    border-radius: 5px;
    width: 265px;
}

.projeto h2{
    margin-top: 10px;
    color: #00abf0;
}

.projeto p{
    margin-top: 10px;
    font-size: 16px;
    text-align: justify;
}

.small{
    margin-bottom: 25px;
}

.projeto a{
    display: block;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    color: white;
    background-color: #1c3f58;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.projeto a:hover{
    transform: scale(1.02);
    background-color: #fff;
    color: #000;
}
